
*{ padding: 0; margin: 0;}
nav, main, aside, footer { display: flex; 
    justify-content: center; align-items: center;}

section {display: grid; grid-template-areas: 
    "navbar"
    "aside"
    "main"
    "footer";}

nav {grid-area: navbar; background-color: rgba(0, 0, 0, 0.897);}


main {grid-area: main; flex-direction: column; background-color: rgba(0, 0, 0, 0.678);}

aside {grid-area: aside; background-color: rgba(0, 0, 0, 0.753);}

footer {grid-area: footer; padding-top: 50px; background-color: rgba(0, 0, 0, 0.884) ; color: aliceblue;} 

.grid-container {grid-template-columns: repeat(1,1fr);}       
.grid-item {margin: 30px;} 
.card {width: 380px; background-color: rgba(0, 0, 0, 0.123); transition: width 0,3 ease-in 0,6;}
.card :hover {width: 400px;}
.btn {background-color: rgb(196, 15, 15);}
i { width: 180px; color: aliceblue;}



        
@media (min-width: 576px)

{.grid-container {display: grid; grid-template-columns: repeat(4,1fr);}
.grid {display: grid; grid-template-columns:repeat(3,1fr); padding-top: 10px; 
    padding-bottom: 15px; gap: 490px;}  


section { grid-template-areas:
" navbar navbar navbar navbar navbar"
"aside main main main main "
"footer footer footer footer footer"} 
aside {align-items: flex-start;}

}
